.card-table-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  max-width: 95%;
  margin: auto; /* Center the container on the page */
}

.card {
  cursor: pointer;
  background-color: #fff;
  color: #0c9cb1; /* Teal color for text to match your palette */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: 300px; /* Fixed width for each card */
}

.card h2, .card p {
  margin: 0 0 10px; /* Add bottom margin for spacing between text */
  color: #171717; /* Dark gray for text */
}

.card h2 {
  margin-bottom: 15px; /* Larger bottom margin for the title */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
}
